<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Title</title>
    <script type="application/javascript" src="/static/jquery-3.3.1.min.js"></script>
    <script type="application/javascript" src="/static/jweixin-1.2.0.js"></script>
</head>
<body>
<script type="text/javascript">
    sessionStorage.setItem("openid", "sdfsadfasdfasdfasd");
    $(function () {
        var url = location.href.split('#').toString();//url不能写死
        $.ajax({
            type: "get",
            url: "/wechatParam",
            dataType: "json",
            async: false,
            data: {url: url},
            success: function (data) {
                wx.config({
                    debug: false,////生产环境需要关闭debug模式
                    appId: data.appid,//appId通过微信服务号后台查看
                    timestamp: data.timestamp,//生成签名的时间戳
                    nonceStr: data.nonceStr,//生成签名的随机字符串
                    signature: data.signature,//签名
                    jsApiList: [
                        'checkJsApi',//判断当前客户端版本是否支持指定JS接口
                        'onMenuShareTimeline',//分享给好友
                        'onMenuShareAppMessage'//分享到朋友圈
                    ]
                });
            },
            error: function (xhr, status, error) {
                //alert(status);
                //alert(xhr.responseText);
            }
        })
    });
</script>
<a href="/demo/test2">点击我</a>
</body>
</html>