<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Title</title>
    <script type="application/javascript" src="/static/jquery-3.3.1.min.js"></script>
    <script type="application/javascript" src="/static/jweixin-1.2.0.js"></script>
</head>
<body>
<script type="text/javascript">
    sessionStorage.setItem("openid", "sdfsadfasdfasdfasd");
    $(function () {
        var url = location.href.split('#').toString();
        $.ajax({
            type: "get",
            url: "/wechatjs/getConfig",
            dataType: "json",
            async: false,
            data: {url: url},
            success: function (data) {
                alert(data.appId);
                alert(data.timestamp);
                alert(data.nonceStr);
                alert(data.signature);
                wx.config({
                    debug: false,////生产环境需要关闭debug模式
                    appId: data.appid,
                    timestamp: data.timestamp,
                    nonceStr: data.nonceStr,
                    signature: data.signature,
                    jsApiList: [
                        'checkJsApi',
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage'
                    ]
                });
            },
            error: function (xhr, status, error) {

            }
        })
    });
</script>
<a href="/demo/test2">点击我</a>
</body>
</html>