<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<%
String path = request.getContextPath();
String basePath = request.getScheme()+"://"+request.getServerName()+":"+request.getServerPort()+path+"/";
String url=request.getRequestURL()+"?"+request.getQueryString();
%>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Title</title>
</head>
<body>
<script type="text/javascript">
    sessionStorage.setItem("openid", "sdfsadfasdfasdfasd");
</script>
<a href="/demo/test2">点击我</a>
</body>
</html>